<extend name="Public:index"/>
<block name="title">
  <title>{$type_name}详情</title>
</block>
<block name="css">
    <style TYPE="text/css">
        .btn_icon_top .icon{background: url('__IMG__/contraction.png');
            background-repeat: no-repeat;
            background-size: contain;
            top: 0.05rem;}
        .btn_icon_bottom .icon{background: url('__IMG__/open.png');
            background-repeat: no-repeat;
            background-size: contain;
            top: 0.05rem;}
        .pc_kq_height{
            height: 0.88rem;
            overflow: hidden;
        }
        .pitch_on{
            background: url("__IMG__/pitch_on.png") no-repeat;
            background-size: 40%;
            background-position: right bottom;
            color: #4e4e4e!important;
        }
    </style>
</block>
<block name="main">
  <!-- 主体内容 开始 -->
  <div class="main swiper-container-01">
    <div class="header">
      <div class="left back"><i class="icon w_0000_00 w_00_08"></i>返回</div>
      <!-- <div class="center">{$type_name}详情</div> -->
    </div>

    <div class="main_body">
      <div class="swiper-container swiper-tab-nav">
          <div class="swiper-wrapper">
              <div class="swiper-slide swiper-tab-link" onclick="now_href('{:U('read',array('id'=>$hc_id))}')">基础信息</div>
              <div class="swiper-slide swiper-tab-link" onclick="now_href('{:U('installe',array('id'=>$hc_id))}')">安装信息</div>
              <div class="swiper-slide swiper-tab-link" onclick="now_href('{:U('return_money',array('id'=>$hc_id))}')">结算信息</div>
              <div class="swiper-slide swiper-tab-link <eq name='type' value='2'>on</eq>" onclick="now_href('{:U('upkeep',array('id'=>$hc_id))}')">保养信息</div>
              <div class="swiper-slide swiper-tab-link  <neq name='type' value='2'>on</neq>" onclick="now_href('{:U('maintain',array('id'=>$hc_id))}')">维修信息</div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
      </div>

      <div class="swiper-container swiper-tab-page hetongpage">
          <div class="swiper-wrapper">
              <div class="swiper-slide swiper-tab-content">
                <div class="hetong_content">

                  <!-- 安装信息 开始 -->
                  <div class="swiper-slide swiper-tab-content anzhuangxinxi">
                      <div class="form_data_wrap anzhuangxinxi">
                        <ul class="form_data">
                          <li class="layoutlr form_item">
                            <div class="left">{$type_name}工单编号:</div>
                            <div class="right">{$sno}</div>
                          </li>
                          <!-- <li class="layoutlr form_item">
                            <div class="left">预计{$type_name}日期:</div>
                            <div class="right">{$rtime|date='Y-m-d',###}</div>
                          </li> -->
                          <li class="layoutlr form_item">
                            <div class="left">{$type_name}状态:</div>
                            <div class="right"><if condition="$status eq 1">待分配<elseif condition="$status eq 2"/>待{$type_name}<elseif condition="$status eq 3"/>待确认<else/>已完成</if></div>
                          </li>
                          <li class="layoutlr form_item">
                            <div class="left">酒店名称:</div>
                            <div class="right">{$h_name}</div>
                          </li>
                          <li class="layoutlr form_item">
                            <div class="left">{$type_name}负责人:</div>
                            <div class="right">{$name}</div>
                          </li>
                          <li class="layoutlr form_item">
                            <div class="left">负责人联系方式:</div>
                            <div class="right">{$mobile}</div>
                          </li>
                          <li class="layoutlr form_item">
                            <div class="left">实际{$type_name}日期:</div>
                            <div class="right">{$oper_time}</div>
                          </li>
                          <li class="layoutlr form_item">
                            <div class="left">{$type_name}房间:</div>
                            <div class="right">{$num}&nbsp;间</div>
                          </li>
                          <notempty name="imgs">
                          <li class="layouttb form_item">
                            <div class="top">确认凭证:</div>
                            <div class="bottom">
                              <dl class="uploadimg-container clearfix">
                                <dd class="imgwrap-container">
                                  <volist name="img" id="img_i">
                                    <div class="imgwrap">
                                      <img class="img-rounded" src="{$img_i}">
                                    </div>
                                  </volist>
                                </dd>
                              </dl>
                            </div>
                          </li>
                          </notempty>

                          <li class="layoutlr form_item">
                          <dl class="gezi-container">
                              <dt>
                              <div class="btn_kq_icon btn_icon_bottom"><i class="icon" style="float: right;margin-top: 0.2rem;"></i></div>
                              </dt>
                            <dd class="right gezi-group pc_kq_height" id="kq_height">
                              <volist name="room_arr" id="room">
                                <button type="button" class="rooms btn <eq name="room.status" value="4">on</eq>" data="{$room.room_sno}" data-status="{$room.status}">{$room.room_sno}</button>
                              </volist>
                            </dd>
                              <div class="btn_kq_icon btn_icon_bottom" style="text-align:center;"><i class="icon"></i></div>
                          </dl>
                          </li>

                          <li class="rooms_info" style="display:none;">
                            <ul>
                              <li class="layoutlr form_item">
                                <div class="left">房间号:</div>
                                <div class="right equipment rno"></div>
                              </li>
                              <li class="layoutlr form_item">
                                <div class="left">净化器类型:</div>
                                <div class="right rtype e1type"></div>
                              </li>
                              <li class="layoutlr form_item">
                                <div class="left">监控器类型:</div>
                                <div class="right floor e2type"></div>
                              </li>
                              <li class="layoutlr form_item">
                                <div class="left">安装时间:</div>
                                <div class="right floor installtime"></div>
                              </li>
                              <li class="layoutlr form_item">
                                <div class="left">累计{$type_name}次数:</div>
                                <div class="right iswindown all_count"></div>
                              </li>
                              <li class="layoutlr form_item">
                                <div class="left">上次{$type_name}时间:</div>
                                <div class="right orienta ctime"></div>
                              </li>
                              <li class="layoutlr form_item">
                                <div class="left">{$type_name}方式:</div>
                                <div class="right place eo_type"></div>
                              </li>
                            </ul>
                            
                          </li>

                          <notempty name="roll_back">
                          <volist name="roll_back" id="rback">
                            <li class="layoutlr form_item">
                              <div class="left" style="color:red;">打回原因</div>
                              <div class="left" style="color:red;">{$rback.content}</div>
                            </li>
                          </volist>
                          </notempty>
                          
                        </ul>
                      </div>
                  </div>
                <!-- 安装信息 结束 -->
                </div>
              </div>
          </div>
      </div>
    </div>

  </div>
  <!-- 主体内容 结束 -->
</block>
<block name="js">
<script src="__PUBLIC__/Swiper-3.4.1/js/swiper.jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        /***房间数量超出一排显示下拉开关***/
        function but_show(){
            var kg_btn = $("#kq_height");
            var btn_icon =$(".btn_kq_icon");
            var btn_length = kg_btn.children(".btn").length;
            var btn_num =parseInt(kg_btn.width() / 54);
            if(btn_length > btn_num){
                btn_icon.addClass("btn_block");
                btn_icon.removeClass(" btn_none");
            }else {
                btn_icon.addClass("btn_none");
                btn_icon.removeClass("btn_block");
            }
        }
        but_show();

        /********房间下拉图标和向上关闭图标切换********/
        $(function(){
            var on_num = 0;
            $(".btn_kq_icon").click(function(){
                var this_icon =  $(".btn_kq_icon");
                if(on_num == 0){
                    this_icon.removeClass("btn_icon_bottom");
                    $("#kq_height").removeClass("pc_kq_height");
                    this_icon.addClass("btn_icon_top");
                    on_num = 1;
                }else if(on_num == 1){
                    $("#kq_height").addClass("pc_kq_height");
                    this_icon.addClass("btn_icon_bottom");
                    this_icon.removeClass("btn_icon_top");
                    on_num = 0;
                }
            })
        });
    });

    var swiperNav = new Swiper('.swiper-tab-nav', {
    // pagination: '.swiper-pagination',
    slidesPerView: 'auto',
    // centeredSlides: true,
    // paginationClickable: true,
    // spaceBetween: 30
    // slidesPerView: 3,
    paginationClickable: true,
    // spaceBetween: 30,
    onInit: function(swiper) { // 初始化回调函数
    },
    onClick: function(swiper) {
    /*swiperPage.slideTo($(swiper.clickedSlide).index(), 500, false);*///切换到第一个slide，速度为1秒
    },
});

var swiperPage = new Swiper ('.swiper-tab-page', {
  // loop: true,
  onInit: function(swiper) { // 初始化回调函数
  },
  onTouchEnd: function(swiper) { // 初始化回调函数
    /*swiperNav.slideTo(swiper.previousIndex, 500, false);//切换到第一个slide，速度为1秒
    setTimeout(function() {
      if($('.swiper-tab-link.on').index() != swiperPage.activeIndex) {
        $('.swiper-tab-link').removeClass('on');
        $($('.swiper-tab-link')[swiperPage.activeIndex]).addClass('on');
      }
    }, 100);*/
  },
});

/* 跳转 */
function now_href(url){
  window.location.href = url;
}

/* 返回 */
$(".backs").click(function(){
  window.location.href = "{:U('index')}";
})

$(".rooms").click(function(){
 //是否已经安装  hasClass检查被选元素是否包含指定的 class
 $(".rooms").removeClass("pitch_on");
  $(this).addClass("pitch_on");
  var hcid = {$id};
  var type = {$type};
  //var status={$status};
  var status = $(this).attr("data-status");
  var rno  = $(this).attr("data");
  $.post("{:U('get_room_info')}",{hc_id:hcid,room_sno:rno,type:type,status:status},function(re_data){
    re_data = eval("("+re_data+")");
    console.log(re_data);
    $(".rno").text(rno);
    $(".e1type").text(re_data.data.e1_name);
    $(".e2type").text(re_data.data.e2_name);
    $(".installtime").text(re_data.data.install_time);
    /*if(type == 2){*/
      $(".all_count").text(re_data.data.all_count);
      $(".ctime").text(re_data.data.ctime);
    /*}else{*/
      $(".note").text(re_data.data.note);
    /*}*/

    if(status == 4){
      $(".eo_type").text(re_data.data.type_name);
    }else{
      $(".eo_type").text("");
    }

    $(".rooms_info").show();
  });
})
</script>
</block>
