<extend name="Public:index"/>
<block name="title">
    <title>{$title}</title>
</block>

<block name="main">
    <div class="main">

        <!-- header 开始 -->
        <div class="header">
            <div class="left backs" data-url="{:U('getUserInfo')}"><i class="icon w_0000_00 w_00_08"></i>返回</div>
            <div class="right submit-js"  data-url="{:U('operation')}" data-field="{$data.field}" data-value="{$data.value}"><a class="s">保存</a></div>
        </div>
        <!-- header 结束 -->

        <div class="main_body zhaohuimm">
            <!--<div class="edit_container">-->
                <div class="form-group">
                    <input class="input-js" type="text" name="{$data.field}" value="{$data.value}">
                    <input type="hidden" name="id" value="{$userId}"/>
                    <!--<i class="icon w_0000_00 w_00_05 clear-js"></i>-->
                </div>
            <!--</div>-->
        </div>
    </div>


</block>
<block name="js">
    <script type="text/javascript">
        $('.back').click(function(){
            var url=$(this).data('url');
            window.location.href=url;
        });
        $('.clear-js').click(function(){
            $('.input-js').val('');
        });
        $('.submit-js').click(function (){
            var url = $(this).data('url');
            var field=$(this).data('field');
            var oldValue=$(this).data('value');
            var id=$('input[name="id"]').val();
            var value=$('input[name="'+field+'"]').val();
            if(value == ''){
                layer.open({content:'修改信息不能为空',time:2});
                return;
            }
            if(oldValue == value){
                layer.open({content:'信息未修改',time:2});
                return;
            }
            if(field == 'mobile'){
                var myreg = /^1[3|4|5|7|8][0-9]{9}$/;
                if (!myreg.test(value)) {
                    layer.open({content:'请填写正确的手机号码',time:2});
                    return;
                }
            }else {
                var check=/^[0-9]*[1-9][0-9]*$/;
                if(!check.test(value) || value>=200){
                    layer.open({content:'请填写正确的年龄',time:2});
                    return;
                }
            }
            $.post(url,{id:id,field:field,value:value},function (res){
                if(typeof res != "object"){
                    var res = eval("("+res+")");
                }

                if (res.status) {  //成功的时候跳转到指定的url地址
                    location.href = '/Wx/User/getUserInfo';
                }
                layer.open({content:res.info,time:800});
            })

        })
    </script>
</block>