<extend name="Public:index"/>
<block name="main">
    <!-- 主体内容 开始 -->
    <div class="main">

        <!-- header 开始 -->
        <div class="header">
            <div class="left"><i class="icon"></i>返回</div>
            <div class="center">财务经理首页</div>
            <div class="right"><a class="s"></a></div>
        </div>
        <!-- header 结束 -->

        <div class="main_body">
            <ul class="index_item">
                <li class="bjkkitem bjkkitem01 b1">
                    <div class="bjkkitem_main">
                        <div class="icon_wrap"><i class="icon"></i></div>
                        <div class="num"><span class="min"></span></div>
                        <div class="title_wrap">
                            <div class="title_inner">
                                <span class="title">您有{$rmnum}个结算代办事项</span>
                                <button class="btn"><a href="{:U('ReturnMoney/index')}">立即查看 </a></button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bjkkitem bjkkitem01 b2">
                    <div class="bjkkitem_main">
                        <div class="icon_wrap"><i class="icon"></i></div>
                        <div class="title_wrap">
                            <div class="title_inner">
                                <span class="title">您有{$rbnum}个报销代办事项</span>
                                <button class="btn" ><a href="{:U('Reimbursement/index')}">立即查看</a></button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bjkkitem bjkkitem01 b3">
                    <div class="bjkkitem_main">
                        <div class="icon_wrap"><i class="icon"></i></div>
                        <div class="title_wrap">
                            <div class="title_inner">
                                <span class="title">您有{$snum}个提现代办事项</span>
                                <button class="btn"><a href="{:U('SaleGetmoney/index')}">立即查看</a></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体内容 结束 -->
</block>
