<extend name="Public:index"/>
<block name="head">
  <title>净化效果</title>
</block>
<block name="css">
    <style type="text/css">
        .jhxg_main .shouyitongji_block .danzidata .danzinum {
            font-size: 26px;
        }
        .sales .panel {
            padding-bottom: 60px;
        }
        .hetongxinxi02 .progress-container + div {
            float: right;
            margin-left: 13px;
            position: relative;
            top: -12px;
        }

        .pitch_on{
            background: url("__IMG__/pitch_on.png") no-repeat;
            background-position: right bottom;
            color: #4e4e4e!important;
        }

        /*.jhxg_main .shouyitongji_block li {*/
            /*width: calc(30% - 8px)!important;*/
        /*}*/

        @media screen and (max-width: 1020px) and (min-width: 1000px){
            .danzi li {
                width: calc(31% - 21px)!important;
                height: 120px!important;
            }
            .i_dan21 {
                background-position: -177px -336px;
            }
            .dan_icon {
                width: 60px;
                height: 60px;
            }
            .i_dan22 {
                background-position: -177px -417px;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
            .jhxg_main .shouyitongji_block .danzidata {
                padding: 0 15px 0 90px!important;
                text-align: right!important;}
        }
        @media screen and (max-width: 1049px) and (min-width: 1021px){
            .danzi li {
                width: calc(31% - 17px)!important;
                height: 120px!important;
            }
            .i_dan21 {
                background-position: -177px -336px;
            }
            .dan_icon {
                width: 60px;
                height: 60px;
            }
            .i_dan22 {
                background-position: -177px -417px;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }

            .jhxg_main .shouyitongji_block .danzidata {
                padding: 0 15px 0 90px!important;
                text-align: right!important;}
        }
        @media screen and (max-width: 1099px) and (min-width: 1050px){
            .danzi li {
                width: calc(31% - 11px)!important;
                height: 120px!important;
            }
            .i_dan21 {
                background-position: -177px -336px;
            }
            .dan_icon {
                width: 60px;
                height: 60px;
            }
            .i_dan22 {
                background-position: -177px -417px;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
            .jhxg_main .shouyitongji_block .danzidata {
                padding: 0 15px 0 90px!important;
                text-align: right!important;}
        }
        @media screen and (max-width: 1159px) and (min-width: 1100px){
            .danzi li {
                width: calc(32% - 12px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
            .dan_icon {
                width: 60px;
                height: 60px;
            }
            .i_dan21 {
                background-position: -177px -336px;
            }
            .i_dan22 {
                background-position: -177px -417px;
            }
            .jhxg_main .shouyitongji_block .danzidata {
                padding: 0 15px 0 90px!important;
                text-align: right!important;}
        }
        @media screen and (max-width: 1199px) and (min-width: 1160px){
            .danzi li {
                width: calc(33% - 12px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
            .dan_icon {
                width: 60px;
                height: 60px;
            }
            .i_dan21 {
                background-position: -177px -336px;
            }
            .i_dan22 {
                background-position: -177px -417px;
            }
            .jhxg_main .shouyitongji_block .danzidata {
                padding: 0 15px 0 90px!important;
                text-align: right!important;}
        }
        @media screen and (max-width: 1225px) and (min-width: 1200px){
            .danzi li {
                width: calc(30% - 16px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
            .jhxg_main .shouyitongji_block .danzidata {
                padding: 0 15px 0 90px!important;
                text-align: right!important;}

        }
        @media screen and (max-width: 1250px) and (min-width: 1226px){
            .danzi li {
                width: calc(30% - 17px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }

        }
        @media screen and (max-width: 1300px) and (min-width: 1251px){
            .danzi li {
                width: calc(30% - 6px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1350px) and (min-width: 1301px){
            .danzi li {
                width: calc(31% - 8px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1389px) and (min-width: 1351px){
            .danzi li {
                width: calc(32% - 17px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1399px) and (min-width: 1390px){
            .danzi li {
                width: calc(32% - 5px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1450px) and (min-width: 1400px){
            .danzi li {
                width: calc(33% - 16px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1489px) and (min-width: 1451px){
            .danzi li {
                width: calc(33% - 8px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1500px) and (min-width: 1490px){
            .danzi li {
                width: calc(33% - 3px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1700px) and (min-width: 1501px){
            .danzi li {
                width:calc(33% - 2px)!important;
                height: 120px!important;
            }
            .jhxg_main .jhxg_danzi1 .dan3 .icon {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            .danzi .dan_icon {
                top: 30px!important;
            }
        }
        @media screen and (max-width: 1900px) and (min-width: 1701px){
            .jhxg_main .shouyitongji_block li {
                width: calc(33% - 2px)!important;
            }
        }
        .gezi-container .gezi-group .btn {
            margin: 14px;
            height: 42px;
            line-height: 21px;
            width: 90px;
            /*width: calc(6.5% - 10px);*/
        }
        .btn_icon{
            width: 26px;
            height: 19px;
            display: block;
            float: right;
        }
        .max_btn_icon{
            width: 37px;
            height: 27px;
            display: block;
            margin: 10px auto;
        }
        .btn_icon_bottom{
            background: url("__IMG__/wx_kq_bottom_bottom.png");
            background-size: 100%;
        }
        .btn_icon_top{
            background: url("__IMG__/wx_kq_bottom_top.png");
            background-size: 100%;
        }
        .pc_kq_height{
            height: 68px;
            overflow: hidden;
        }
        .subnav > li {
            left: 1.2rem;
        }

        .danzi li:nth-child(3) {
           margin-right: 0px;
        }

    </style>
</block>
<block name="top">
  <ol class="breadcrumb">
    当前的位置：
    <li><a>首页</a></li>
    <li class="on">净化效果</li>
  </ol>
</block>

<block name="main">
  <div id="main" class="jhxg_main">
      <!-- 导航 开始 -->
    <if condition="$role neq 1">
      <ul class="clearfix subnav het ongnav">
        <li><a><i class="icon"></i><span class="cur_title" title="{$hotelName}">{$hotelName}</span></a></li>
      </ul>
    </if>
      <!-- 导航 结束 -->


      <div class="hoteliofs">
      <!-- 内容 开始 -->
      <div class="subpage hetongxinxi02 jhxg">

        <div class="gezi-container-wrap jhxg-gezi1">
          <dl class="gezi-container">
            <if condition="$role eq 1">
              <div class="col right table-form">
                <select name="hotels">
                  <option value="0">--请选择酒店查看--</option>
                  <foreach name="Hotel" item="vo">
                    <option value="{$vo.id}">{$vo.name}</option>
                  </foreach>
                </select>
              </div>
            </if>

            <dt class="gezi-title">
              <div class="checkbox-container gezi-green" data-type="checkbox">
                  <i class="icon icon01 i_radio"></i>
                  <span class="checkbox_txt">优</span>
              </div>
              <div class="checkbox-container gezi-orange" data-type="checkbox">
                  <i class="icon icon01 i_radio"></i>
                  <span class="checkbox_txt">良</span>
              </div>
              <div class="checkbox-container gezi-red" data-type="checkbox">
                  <i class="icon icon01 i_radio"></i>
                  <span class="checkbox_txt">差</span>
              </div>
              <i class="btn_icon btn_kq_icon btn_icon_bottom"></i>
            </dt>
            <dd id="kq_height"  class="gezi-group pc_kq_height">
              <foreach name="device" item="vo">
                <button type="button" class="btn {$vo.status} room" value="{$vo.equipment_sno}">{$vo.room_sno}</button>
              </foreach>

            </dd>
              <dd><i class="max_btn_icon btn_kq_icon btn_icon_bottom"></i></dd>
          </dl>
        </div>
        
        <div class="shouyitongji_block jhxg_danzi1">
          <ul class="clearfix danzi">
            <li>
              <div class="danzidata dan1" style="padding-left: 10px!important;padding-right: 20px!important;">
                <i class="icon dan_icon i_dan21"></i>
                <div class="danzinum"><span>{$room_num}</span>间</div>
                <div class="danziname">优享客房数</div>
              </div>
            </li>
            <li>
              <div class="danzidata dan2" style="padding-left: 10px!important;padding-right: 20px!important;">
                <i class="icon dan_icon i_dan22"></i>
                <div class="danzinum"><span>{$yznum|default=0}</span>天</div>
                <div class="danziname">室内空气累计优质天数</div>
              </div>
            </li>
            <li>
              <div class="danzidata dan3">
                <i class="icon dan_icon i_dan15">PM2.5</i>
                <div class="dpro">
                  <span class="dantitle">当日室内空气质量均值</span>
                  <div class="progress-container progress01"><div class="progress" data-width="{$pm25 / 5} " style="width: {$pm25 / 5}%;"></div></div>
                  <div class="prodata"><span class="max">{$pm25}</span>
                    <if condition="$pm25s eq 1"> 优
                      <elseif condition="$pm25s eq 2"/>良
                      <else /> 差
                    </if>
                  </div>
                </div>
                <div class="dpro">
                  <span class="dantitle">当日室外空气质量均值</span>
                  <div class="progress-container progress03"><div class="progress" data-width="{$apm25 / 5} " style="width: {$apm25 / 5}%;"></div></div>
                  <div class="prodata"><span class="max">{$apm25}</span>
                    <if condition="$apm25s eq 1"> 优
                      <elseif condition="$apm25s eq 2"/>良
                      <else /> 差
                    </if></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="sales">
          <div class="panel panel-default">
            <div class="panel-heading"><h1>近7日空气质量走势统计</h1></div>
            <div class="panel-body">
              <div class="panel" id="onemain" style="height: 350px">
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- 内容 结束 -->
    </div>

  </div>
</block>
<block name="js">
  <script type="text/javascript" src="__PUBLIC__/Echarts/echarts.common.min.js"></script>
  <script type="text/javascript">

      $(document).ready(function(){
          /***房间数量超出一排显示下拉开关***/
          function but_show(){
              var kg_btn = $("#kq_height");
              var btn_icon =$(".btn_kq_icon");
              var btn_length = kg_btn.children(".btn").length;
              var btn_num =parseInt(kg_btn.width() / 110);
              if(btn_length > btn_num){
                  btn_icon.addClass("btn_block");
                  btn_icon.removeClass("btn_none");
              }else {
                  btn_icon.addClass("btn_none");
                  btn_icon.removeClass("btn_block");
              }
          }
          but_show();
          /***********浏览器窗口宽度发生变化时执行************/
          $(window).resize(function() {
              but_show();
          });

          /********房间下拉图标和向上关闭图标切换********/
          $(function(){
              var on_num = 0;
              $(".btn_kq_icon").click(function(){
                  var this_icon =  $(".btn_kq_icon");
                  if(on_num == 0){
                      this_icon.removeClass("btn_icon_bottom");
                      $("#kq_height").removeClass("pc_kq_height");
                      this_icon.addClass("btn_icon_top");
                      on_num = 1;
                  }else if(on_num == 1){
                      $("#kq_height").addClass("pc_kq_height");
                      this_icon.addClass("btn_icon_bottom");
                      this_icon.removeClass("btn_icon_top");
                      on_num = 0;
                  }
              })
          });
      });

      // 查看某一家酒店数据
      $('select[name="hotels"]').on('change', function(){
          var index = layer.load(1, {
              shade: [0.5,'#fff'] //0.1透明度的白色背景
          });
          var hotel_id = $(this).val();
//          if(hotel_id){
              $.post('/Pc/RemovalInfo/getHotelInfo', {hotel_id: hotel_id}, function (f) {
                  layer.close(index);
                  $(".hoteliofs").html(f);
                  but_show();
              },'html');
//          }
      });

      // 点击展示数据
      $(".room").click(function () {
          $(".room").removeClass("pitch_on");
          $(this).addClass("pitch_on");
          var value = $(this).attr('value');
          $.get('/Pc/RemovalInfo/getOneDevice', {mac: value}, function (f) {
              $(".sales").html(f);
          }, 'html')
      });
      // 基于准备好的dom，初始化echarts实例
      var myChartOne= echarts.init(document.getElementById('onemain'));
      optionOne = {
          tooltip : {
              trigger: 'axis',
          },
//          /*toolbox: {
//              show : true,
//              feature : {
//                  mark : {show: true},
//                  dataView : {show: true, readOnly: false},
//                  magicType : {
//                      show: true,
//                      type: ['pie', 'funnel']
//                  },
//                  restore : {show: true},
//                  saveAsImage : {show: true}
//              }
//          },*/
          grid: {
              left: '5%',
              right: '4%',
              bottom: '3%',
              containLabel: true
          },
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : false,
                  data : {$date}
              }
          ],
          legend: {
              data: ['室内','室外']
          },
          yAxis : [
              {
                  name:'PM2.5(μg/m3)',
              <if condition="($spm25 eq '[]') AND ($sapm25 eq '[]')">
              min: 0,
          max: 100,
      </if>
                  type : 'value'
              }
          ],
          series : [
              {
                  name: '室内',
                  type:'line',
                  smooth: true,
                  areaStyle: {
                      normal: {
                      }
                  },
                  // 背景颜色设置
                  lineStyle: {
                      normal: {
                          width: 1.5,
                          // 线条颜色
                          color: ['#7DD9B2']
                      }
                  },
                  data:{$spm25},
                  color: ['#7DD9B2']
              },
              {
                  name: '室外',
                  type:'line',
                  smooth: true,
                  areaStyle: {
                      normal: {
                      }
                  },
                  // 背景颜色设置
                  lineStyle: {
                      normal: {
                          width: 1.5,
                          // 线条颜色
                          color: ['#B9A7DE']
                      }
                  },
                  data:{$sapm25},
                  color: ['#B9A7DE']
              },
          ]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChartOne.setOption(optionOne);
  </script>
</block>