<extend name="Public:index"/>
<block name="head">
  <title>报销</title>
</block>

<block name="top">
  <ol class="breadcrumb">
    当前的位置：
    <li><a>系统设置</a></li>
    <li class="on">新增报销</li>
  </ol>
</block>

<block name="main">
  <div id="main">
    <!-- 导航 开始 -->
    <ul class="clearfix subnav hetongnav">
      <li><a><i class="icon"></i><span class="cur_title">新增报销</span></a></li>
    </ul>
    <!-- 导航 结束 -->

    <!--<div class="subsubnav_wrap">-->
      <!--<ul class="subsubnav">-->
        <!--<li class="on"><i class="icon icon_subnav01 subnav01"></i><p>待审核</p></li>-->
        <!--<li><i class="icon icon_subnav01 subnav02"></i><p>待打款</p></li>-->
        <!--<li><i class="icon icon_subnav01 subnav03"></i><p>已打款</p></li>-->
      <!--</ul>-->
    <!--</div>-->

    <!-- 内容 开始 -->
    <div class="subpage baoxiaoshenhe">
      <form method="post" action="{:U('operation')}">
        <div class="subpage-block">
          <table class="table table-bordered table-form">
            <tbody>
            <tr>
              <th><span class="text-orange">*</span>报销类型：</th>
              <td>
                <span class="table-form-text">
                  <select name="rt_id" class="rt_id">
                    <option value="">--请选择--</option>
                    <volist name="reimbursementTypes" id="value">
                      <option value="{$value.id}">{$value.name}</option>
                    </volist>
                  </select>
                </span>
              </td>
            </tr>
            <tr>
              <th><span class="text-orange">*</span>报销金额：</th>
              <td><span class="table-form-text"><input type="text" name="price"/></span></td>
            </tr>
            <tr>
              <th><span class="text-orange">*</span>选择酒店：</th>
              <td>
                <span class="table-form-text">
                  <select name="h_id" class="h_id">
                    <empty name="hotels">
                      <option value="">暂无认领的酒店</option>
                    <else />
                      <option value="">--请选择--</option>
                      <volist name="hotels" id="val">
                        <option value="{$val.id}">{$val.name}</option>
                      </volist>
                    </empty>
                  </select>
                </span>
              </td>
            </tr>
            <tr>
              <th>选择合同：</th>
              <td>
                <span class="table-form-text">
                  <select name="hc_id" class="hc_id">
                    <option value="">--请选择--</option>
                  </select>
                </span>
              </td>
            </tr>
            <tr class="beizhu">
              <th>备注信息：</th>
              <!--<td>-->
                <!--<span class="table-form-text">-->
                  <!--<textarea cols="20" rows="3"  name="remark" ></textarea>-->
                <!--</span>-->
              <!--</td>-->
              <td><textarea class="form-control" rows="9" name="remark"></textarea></td>
            </tr>

            <tr>
              <th><input type="hidden" name="id" value="{$id}"></th>
              <td>
                <button type="button" class="btn btn-tijiao ajax-post">提交</button>
                <button type="button" class="btn btn-quxiao back">返回</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <!-- 内容 结束 -->
  </div>
</block>
<block name="js">
  <script type="text/javascript" src="__DTREE__/dtree.js"></script>
  <script type="text/javascript">
  /* 判断报销金额 */
$("input[name='price']").blur(function(){
  var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
  var price = $(this).val();
  if (parseFloat(price)<=0 || !reg.test(price)){
    layer.msg("报销金额不正确",{icon: 0,offset: 0,time:1000});
    $(this).val("");
    return false;
  }
});
    $(function(){
      $(".h_id").change(function(){
        var h_id = $(this).val();
        if(h_id != ''){
          //获取酒店对应的合同
          $.get("{:U('get_hotelcontract')}",{h_id:h_id},function(data){
            //console.debug(data);
            var html = '<option value="">--请选择--</option>';
            $.each(data,function(i,value){
              html+='<option value="'+value.id+'">'+value.name+'</option>';
            });
            $(".hc_id").html(html);
          });
        }

      });
    });

  </script>
</block>

