<extend name="Public:index"/>
<block name="main">

    <style type="text/css">
        .fangjianxinxitanchuang{
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            left: 0;
            height: 5.5rem;
            width: 94vw;
            margin:0 3vw 3vh;
            z-index: 99;
            border-radius: 0.3rem;
            background: #F4FAF5;
            display: none;
        }
        .fangjianxinxitanchuang .chuangkoutitle{
            color: #65A37B;
            text-align: center;
            font-size: 0.44rem;
            padding: 0.6rem 0 0.6rem;
        }
        .fangjianxinxitanchuang .tiaojiebox{
            text-align: center;
            height: 1.5rem;
            font-size: 0.44rem;
        }
        .fangjianxinxitanchuang .tiaojiebox span{
            margin: 0 1rem;
            line-height: 1rem;
            vertical-align: bottom;
        }
        .fangjianxinxitanchuang .tiaojiebox .btn-l,
        .fangjianxinxitanchuang .tiaojiebox .btn-r{
            display: inline-block;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 100%;
            color: #fff;
            font-size: 1rem;
            line-height: 0.9rem;
        }
        .fangjianxinxitanchuang .tiaojiebox .btn-l{
            background: #ACAFAE;
            line-height: 0.8rem;
        }
        .fangjianxinxitanchuang .tiaojiebox .btn-r{
            background: #FF8800;
        }
        .kongqiziliangdi,.kongqizilianggao{
            text-align: center;
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.32rem;
            color: #787D7B;
        }
        .kongqiback1{
            background-color: #ff5353!important;
        }
        .kongqiback2{
            background-color: rgba(0, 0, 0, 0.25)!important;
        }
    </style>

    <!-- 主体内容 开始 -->
    <div class="main">
        <!-- 【此处嵌套 header】 -->
        <!-- header 开始 -->
        <div class="header">
            <div class="left"><a href="">返回</a></div>
            <div class="center">优享空间</div>
            <div class="right">
               <span class="share">分享</span>
            </div>
        </div>
        <div class="main_body fangjianxinxi">
            <div class="addimg_wrap">
                <img class="addimg" src="__IMG__/b.jpg">
                <button class="close">11</button>
                <div class="fangjianxinxitanchuang" id="close">
                    <p class="chuangkoutitle">设备定时</p>
                    <div class="tiaojiebox"><i class="btn-l">-</i><span>一级风速</span><i class="btn-r">+</i></div>
                    <p class="kongqiziliangdi">空气质量最低值42</p>
                    <p class="kongqizilianggao">空气质量最高值55</p>
                </div>
            </div>
            <div class="layoutlr fangjian_title">
                <div class="col left"><a href="{:U('hotel')}">{$data.hotel_name}</a></div>
                <div class="col right">{$data.provice}{$data.city}</div>
            </div>
            <div class="jinhua_block">
                <div class="air_container">
                    <div class="air_main">
                        <div class="num">{$data.in_pm}</div>
                        <div class="within">室内平均空气质量{$data.in_air}</div>
                        <div class="abroad">室外空气质量 {$data.out_pm} {$data.out_air} </div>
                    </div>
                </div>
            </div>
            <div class="fangjian_btm">
                <div class="layoutlr fangjian_showdata">
                    <div class="col">
                        <div class="n1"><if condition="$data['status'] eq 2">
                            待维修
                            <elseif condition="$data['status'] eq 3"/>
                            待保养
                            <else/>
                            正常
                        </if></div>
                        <div class="n2">设备</div>
                    </div>
                    <div class="col">
                        <div class="n1">{$data.air_speed}</div>
                        <div class="n2">风速</div>
                    </div>
                    <div class="col">
                        <div class="n1">{$data.room_sno}</div>
                        <div class="n2">房间</div>
                    </div>
                    <div class="col">
                        <div class="n1">{$data.out_temperature}℃</div>
                        <div class="n2">室外温度</div>
                    </div>
                    <div class="col">
                        <div class="n1">{$data.out_humidity}%</div>
                        <div class="n2">室外湿度</div>
                    </div>
                </div>
                <div class="fangjian_opreate_wrap">
                    <div class="layoutlr fangjian_opreate">
                        <div class="col Opener">
                            <div class="n1"><div class="icon_wrap"><i class="icon"></i></div></div>
                            <div class="n2">设备开关</div>
                        </div>
                        <div class="col Devicetime">
                            <div class="n1 "><div class="icon_wrap"><i class="icon"></i></div></div>
                            <div class="n2">设备定时</div>
                        </div>
                        <div class="col  opener">
                            <div class="n1"><div class="icon_wrap"><i class="icon"></i></div></div>
                            <div class="n2">温度设定</div>
                        </div>
                        <div class="col  opener">
                            <div class="n1"><div class="icon_wrap"><i class="icon"></i></div></div>
                            <div class="n2">湿度设定</div>
                        </div>
                        <div class="col  fangjianflow">
                            <div class="n1"><div class="icon_wrap"><i class="icon"></i></div></div>
                            <div class="n2">风速设定</div>
                        </div>
                    </div>
                </div>
                <div class="fangjianxinxitanchuang" id="opener">
                    <p class="chuangkoutitle">设备开关</p>
                    <div class="tiaojiebox">
                        <i class="btn-l Opener_left">-</i>
                        <input type="hidden" name="Opener" value="{$infomation['info']['power']}">
                        <span class="Openers"><if condition="$infomation['info']['power'] eq 0"> 开<else/>关
                        </if></span><i class="btn-r Opener_right">+</i><br>
                        <button class="btn btn-info in_speed" style="background: #20d1d5;border-radius: 0.2em;"> 确定 </button>
                    </div>
                </div>
                <div class="fangjianxinxitanchuang" id="time">
                    <p class="chuangkoutitle">设备定时</p>
                    <div class="tiaojiebox"><input type="time"></div>
                    <p class="kongqiziliangdi">空气质量最低值42</p>
                    <p class="kongqizilianggao">空气质量最高值55</p>
                </div>
                <div class="fangjianxinxitanchuang" id="wendu">
                    <p class="chuangkoutitle">温度设定</p>
                    <div class="tiaojiebox">
                        <i class="btn-l">-</i>
                        <input type="hidden" name="adad" value="">
                        <span class="speeding">一级风速</span><i class="btn-r">+</i>
                    </div>
                    <p class="kongqiziliangdi">空气质量最低值42</p>
                    <p class="kongqizilianggao">空气质量最高值55</p>
                </div>
                <div class="fangjianxinxitanchuang" id="shidu">
                    <p class="chuangkoutitle">湿度设定</p>
                    <div class="tiaojiebox"><i class="btn-l">-</i><span>一级风速</span><i class="btn-r">+</i></div>
                    <p class="kongqiziliangdi">空气质量最低值42</p>
                    <p class="kongqizilianggao">空气质量最高值55</p>
                </div>
                <div class="fangjianxinxitanchuang" id="flow">
                    <p class="chuangkoutitle">调节风速</p>
                    <div class="tiaojiebox">
                        <i class="btn-l speed_left">-</i>
                        <input type="hidden" name="speed" value="{$infomation['info']['speed']}">
                        <span class="speeding">{$infomation['info']['speed']}级风速</span><i class="btn-r speed_right">+</i>
                        <button class="btn btn-info" style="background: #20d1d5;border-radius: 0.2em;" onclick="equopment.Speed()"> 确定 </button>
                    </div>
                </div>
                <div class="swiper-container swiper-tab-nav">
                    <div class="swiper-wrapper">
                        <div style="width: 33%;text-align: center;margin:auto;">
                            <a href="{:U('index')}">房间信息</a>
                        </div>
                        <div style="width: 33%;text-align: center;margin:auto;">
                            <a href="{:U('hotel')}">酒店信息</a>
                        </div>
                        <div  style="width: 33%;text-align: center;margin:auto;">
                            <a href="{:U('footprint')}">我的足迹</a>
                        </div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <input type="hidden" name="id" value="{$data.id}">
            </div>
        </div>
    </div>
    <!-- 主体内容 结束 -->
</block>
<block name="js">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="__JS__/fangjian.js">

    </script>
    <script type="text/javascript">
        //微信分享配置
        wx.config({
            debug: false,
            appId: '{$appId}',
            timestamp:'{$timestamp}',
            nonceStr:'{$nonceStr}',
            signature:'{$signature}',
            jsApiList : ['checkJsApi','onMenuShareQQ','onMenuShareAppMessage','onMenuShareTimeline','onMenuShareQZone','onMenuShareWeibo']
        });//end_config

        wx.error(function(res) {
            pop.msg("出错了：" + res.errMsg);
        });

        wx.ready(function() {
            wx.checkJsApi({
                jsApiList : ['onMenuShareQQ','onMenuShareAppMessage','onMenuShareTimeline','onMenuShareQZone','onMenuShareWeibo'],
                success : function(res) {
                }
            });

            // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareQQ({
                title: '{$title}',
                desc: '{$summary}',
                link: "{$web_url}{:U('share')}",
                imgUrl: "{$web_url}__IMG__/vc_use01.png",
                trigger: function (res) {
                    pop.msg('分享到QQ');
                },
                complete: function (res) {
                    pop.msg(JSON.stringify(res));
                },
                success: function (res) {
                    //pop.msg('分享成功');
                },
                cancel: function (res) {
                    pop.msg('您已取消');
                },
                fail: function (res) {
                    pop.msg(JSON.stringify(res));
                }
            });


            //分享到朋友
            wx.onMenuShareAppMessage({
                title: '{$title}',
                desc: '{$summary}',
                link: "{$web_url}{:U('outer')}",
                imgUrl: "{$web_url}__IMG__/vc_use01.png",
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function (res) {
                    //pop.msg('分享成功');
                },
                cancel: function (res) {
                    pop.msg('您已取消');
                }
            });

            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '{$title}',
                link: "{$web_url}{:U('share')}",
                imgUrl: "{$web_url}__IMG__/vc_use01.png",
                success: function (res) {
                    //pop.msg('分享成功');
                },
                cancel: function (res) {
                    pop.msg('您已取消');
                }
            });

            //分享到QQ空间
            wx.onMenuShareQZone({
                title: '{$title}',
                desc: '{$summary}',
                link: "{$web_url}{:U('share')}",
                imgUrl: "{$web_url}__IMG__/vc_use01.png",
                success: function (res) {
                    //pop.msg('分享成功');
                },
                cancel: function (res) {
                    pop.msg('您已取消');
                }
            });

            //分享到腾讯微博
            wx.onMenuShareWeibo({
                title: '{$title}',
                desc: '{$summary}',
                link: "{$web_url}{:U('share')}",
                imgUrl: "{$web_url}__IMG__/vc_use01.png",
                success: function (res) {
                    //pop.msg('分享成功');
                },
                cancel: function (res) {
                    pop.msg('您已取消');
                }
            });

        });//end_ready

    </script>
</block>
