<extend name="Public:index"/>
<block name="title">
    <title>新增酒店角色</title>
</block>
<block name="css">
    <style>
        input{
            border: none;
            text-align: right;
        }
        .right input,.right select{
           font-size: 0.3rem!important;
        }


    </style>
</block>
<block name="main">
    <!-- 主体内容 开始 -->
    <div class="main">
        <!-- header 开始 -->
        <div class="header">
            <div class="left"></i><a href="{:U('index')}"><i class="icon w_0000_00 w_00_08"></i>返回</a></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <!-- header 结束 -->
        <div class="main_body">
            <div class="form_data_wrap renlingchakan">
                <form id="" method="post" action="{:U('edit')}">
                <ul class="form_data">
                    <li class="layoutlr form_item">
                       <div class="left"> <font color="red">*</font>用户账号</div>
                        <div class="right">

                            <div class="input_container"><input placeholder="请输入账号" type="text" name="name" value="" style="width: 174px;height:30px;"/></div>
                        </div>
                    </li>
                    <li class="layoutlr form_item">
                        <div class="left"> <font color="red">*</font>用户姓名</div>
                        <div class="right">
                           <input placeholder="请输入用户姓名" type="text" name="real_name" value="" style="width: 174px;height: 30px">
                        </div>
                    </li>
                    <li class="layoutlr form_item">
                        <div class="left"> <font color="red">*</font>设置密码</div>
                        <div class="right">
                           <input placeholder="请输入密码" type="password" name="password" style="width: 174px;height: 30px">
                        </div>
                    </li>
                    <li class="layoutlr form_item">
                        <div class="left"> <font color="red">*</font>联系方式</div>
                        <div class="right">
                           <input placeholder="请输入联系方式" type="text" name="mobile" style="width: 174px;height: 30px">
                        </div>
                    </li>

                    <li class="layoutlr form_item">
                        <div class="left"><font color="red">*</font>酒店名称</div>
                        <div class="right">
                            <div class="" data-relation="hotel_type">
                                <select name="hid" style="width: 127px">
                                    <volist name="hotel" id="row">
                                        <option value="{$row.id}">{$row.name}</option>
                                    </volist>
                                </select>
                                <i class="icon w_0000_00 w_00_12"></i>
                            </div>



                        </div>
                    </li>
                    <li class="layoutlr form_item">
                        <div class="left"><font color="red">*</font>用户类型</div>
                        <div class="right">
                            <div class="" data-relation="hotel_type1">
                                <select name="rid" style="width: 127px">
                                    <volist name="role" id="row">
                                        <option value="{$row.id}">{$row.name}</option>
                                    </volist>
                                </select>
                                <i class="icon w_0000_00 w_00_12"></i>
                            </div>

                        </div>
                    </li>
                </ul>
                    <div class="form_data_btns">
                        <button class="btn maxbtn ajax-post">提交</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- 主体内容 结束 -->
    <!-- 彈窗內容 開始 -->

    <div class="selected_layer hide" data-relation="hotel_type">
        <ul class="options_container" data-relation="hotel_type">
            <volist name="hotel" id="row">
                <li><span data="{$row.id}">{$row.name}</span></li>
                <input type="hidden" name="hid" value="{$row.id}">
            </volist>
        </ul>
    </div>
    <div class="selected_layer hide" data-relation="hotel_type1">
        <ul class="options_container" data-relation="hotel_type1">
            <volist name="role" id="row">
                <li><span data="{$row.id}">{$row.name}</span></li>
                <input type="hidden" name="rid" value="{$row.id}">
            </volist>
        </ul>
    </div>
    <!-- 彈窗內容 結束 -->
</block>