<div class="col-xs-6">
    <div class="media">
        <div class="media-left">
            <i class="icon w_0002_02 w_02_09"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading yello"><span class="bigfont yello">{$data['hours']|default=0}</span>小时
            </h4>
            今日累计开启时长
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="media">
        <div class="media-left">
            <i class="icon w_0002_02 w_02_11"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading zise"><span class="bigfont zise">{$pm|default=0}</span>室内PM2.5</h4>
            历史平均室内空气质量
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="media">
        <div class="media-left">
            <i class="icon w_0002_02 w_02_10"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading lanse"><span class="bigfont lanse">{$data['allDay']|default=0}</span>天
            </h4>
            累计开启天数
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="media">
        <div class="media-left">
            <i class="icon w_0002_02 w_02_12"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading qianhong"><span
                    class="bigfont qianhong">{$data['day']|default=0}</span>天</h4>
            累计运行天数
        </div>
    </div>
</div>