<extend name="Public:index"/>
<block name="head">
    <title>结算查看</title>
</block>

<block name="top">
    <link rel="stylesheet" href="__PUBLIC__/Layui/css/layui.css" media="all">
    <ol class="breadcrumb">
        当前的位置：
        <li><a>结算</a></li>
        <li class="on">结算查看</li>
    </ol>
</block>

<block name="main">
    <div id="main">
        <!-- 导航 开始 -->
        <ul class="clearfix subnav hetongnav">
            <li><a><i class="icon"></i><span class="cur_title">结算详情</span></a></li>
        </ul>
        <!-- 导航 结束 -->
        <div class="subpage hetongxinxi01">
            <form method="post" action="{:U('returnedit')}">
                <div class="subpage-block">
                    <table class="table table-bordered table-form">
                        <tbody>
                        <tr>
                            <th>酒店名称：
                                <input type='hidden' name='status' value='{$data.status}'>
                                <input type='hidden' name='id' value='{$data.id}'></th>
                            <td><span class="table-form-text">{$data.name}</span></td>
                        </tr>
                        <tr>
                            <th>合同名称：</th>
                            <td><span class="table-form-text">{$data.contract_name}</span></td>
                        </tr>
                        <tr>
                            <th>合同编号：</th>
                            <td><span class="table-form-text">{$data.contract_sno}</span></td>
                        </tr>
                        <tr>
                            <th>结算账期：</th>
                            <td><span class="table-form-text">{$data.etime}</span></td>
                        </tr>
                        <tr>
                            <th>结算模式：</th>
                            <td >
                                <if condition="$data['type'] eq 1">
                                    共享({$data.type_price}元/天次)
                                    <else />
                                    租赁({$data.type_price}元/天)
                                </if>
                            </td>
                        </tr>
                        <tr class="suoshudiqu">
                            <th>本期使用天次：</th>
                            <td id="city">
                               <span>{$data.num}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>应回款金额：
                            </th>
                            <td><span class="table-form-text">{$data.rprice}元</span></td>
                        </tr>
                        <tr>
                            <th>应回款日期：
                            </th>
                            <td><span class="table-form-text">{$data.rtime|date='Y-m-d',###}</span></td>
                        </tr>
                        <tr>
                            <th>逾期天数：
                            </th>
                            <td><span class="table-form-text">{$data.mtime}天</span></td>
                        </tr>
                        <tr>
                            <th>滞纳金：</th>
                            <td><span class="table-form-text">{$data.mprice}元</span>

                            </td>
                        </tr>
                        <if condition="$data['user_role'] eq 10 ">
                            <tr>
                                <th><span class="text-orange">*</span>实际打款金额：</th>
                                <td>
                                    <input type="text" name="price" value="">
                                </td>
                            </tr>
                            <tr>
                            <th><span class="text-orange">*</span>上传打款凭证：</th>
                                <td>
                                    <dl class="uploadimg-container">
                                        <div class="imgwrap" id="img">
                                        </div>
                                        <dt id="test1">
                                            <input type="hidden" name="img" value="{$Hotel.img}">
                                              <div class="item btn-upload" v-show="Hotel.img.length==0" id="hc_file"></div>
                                        </dt>
                                    </dl>
                                </td>
                        </tr>

                            <else/>
                          </if>
                        <tr>
                            <th></th>
                            <td>
                                <if condition="$data['user_role'] eq 10 ">
                                    <button type="button" class="btn btn-tijiao ajax-post">提交</button>
                                <else/>
                                </if>
                                <button type="button" class="btn btn-quxiao back">返回</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</block>
<block name="js">
    <script type="text/javascript" src="__JS__/jquery.cityselect.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Layui/layui.js"></script>
    <script type="text/javascript">
        // 上传图片
        layui.use('upload', function () {
            var upload = layui.upload;
            //执行实例
            var uploadInst = upload.render({
                elem: '#test1' //绑定元素
                , accept: 'file' //允许上传的文件类型
                , url: '{:U("upload_file",array("img_dir"=>"Hcfile"))}' //上传接口
                , done: function (res) {
                    if (res.status == 1) {
                        var i =$('#img').children('div').length;
                        var dakuan = "dakuan"+"[]";
                        var append_img = "<div class='imgwrap'>\
                            <img class='img-rounded' src='"+ res.data+"' >\
                             <ul class='imgoprate'>\
                             <li data-oprate='toleft'><i class='icon'></i></li>\
                              <li data-oprate='detele'><i class='icon'></i></li>\
                              <li data-oprate='toright'><i class='icon'></i></li>\
                              <input type='hidden' name='"+dakuan+"' value='"+res.data+"'>\
                            </ul>\
                          </div>";
                        $("#img").append(append_img);
                        $("input[name='dakuan']").val(res.data);
                    }else{
                        layer.msg(res.msg, {time: 1000, offset: 0, icon: 2});
                    }
                }
                , error: function () {
                }
            });
        });
        /* 计算图片 */
        function count_img(){
            var img_val = "";
            $(".imgwrap-container div").each(function(i){
                if(i != 0){
                    img_val += ",";
                }
                img_val += $(this).find("img").attr("src");
            })
            $(".img_val").val(img_val);
        }

        /*图片移动、删除*/
        $('.uploadimg-container').on('click', '[data-oprate]', function() {
            var _imgwrap = $(this).closest('.imgwrap');
            switch($(this).attr('data-oprate')) {
                case 'toleft':
                    _imgwrap.prev().before(_imgwrap);
                    //console.log('左边', $(this).attr('data-oprate'))
                    break;
                case 'detele':
                    _imgwrap.remove();
                    break;
                case 'toright':
                    _imgwrap.next().after(_imgwrap);
                    break;
            }
            count_img();
        });
    </script>
</block>