<extend name="Public:index"/>
<block name="head">
    <title>酒店录入</title>
</block>

<block name="top">
    <ol class="breadcrumb">
        当前的位置：
        <li><a>首页</a></li>
        <li class="on">酒店录入</li>
    </ol>
</block>

<block name="main">
    <div id="main" class="jhxg_main">
        <!-- 导航 开始 -->
        <ul class="clearfix subnav hetongnav">
            <li><a><i class="icon"></i><span class="cur_title">成都国际大酒店</span></a></li>
        </ul>
        <!-- 导航 结束 -->


        <!-- 内容 开始 -->
        <div class="subpage hetongxinxi02 jhxg">

            <div class="gezi-container-wrap jhxg-gezi1">
                <dl class="gezi-container">
                    <dt class="gezi-title">
                        <div class="checkbox-container gezi-green" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">优</span>
                        </div>
                        <div class="checkbox-container gezi-orange" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">良</span>
                        </div>
                        <div class="checkbox-container gezi-red" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">差</span>
                        </div>
                    </dt>
                    <dd class="gezi-group">
                        <button type="button" class="btn green">1034</button>
                        <button type="button" class="btn orange">1034</button>
                        <button type="button" class="btn red">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                    </dd>
                </dl>
            </div>

            <div class="gezi-container-wrap jhxg-gezi2">
                <dl class="gezi-container">
                    <dt class="gezi-title">
                        <input type="text" class="editdate" name="">
                        <div class="checkbox-container gezi-green" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">运行正常</span>
                        </div>
                        <div class="checkbox-container gezi-red" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">超标预警</span>
                        </div>
                        <div class="checkbox-container gezi-orange" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">离线预警</span>
                        </div>
                        <div class="checkbox-container gezi-gay" data-type="checkbox">
                            <i class="icon icon01 i_radio"></i>
                            <span class="checkbox_txt">暂未开启</span>
                        </div>
                    </dt>
                    <dd class="gezi-group">
                        <button type="button" class="btn green">1034</button>
                        <button type="button" class="btn orange">1034</button>
                        <button type="button" class="btn red">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                        <button type="button" class="btn">1034</button>
                    </dd>
                </dl>
            </div>

            <div class="shouyitongji_block jhxg_danzi1">
                <ul class="clearfix danzi">
                    <li>
                        <div class="danzidata dan1">
                            <i class="icon dan_icon i_dan21"></i>
                            <div class="danzinum"><span>20</span>个</div>
                            <div class="danziname">待打款报销工单</div>
                        </div>
                    </li>
                    <li>
                        <div class="danzidata dan2">
                            <i class="icon dan_icon i_dan22"></i>
                            <div class="danzinum"><span>20</span>个</div>
                            <div class="danziname">待打款报销工单</div>
                        </div>
                    </li>
                    <li>
                        <div class="danzidata dan3">
                            <i class="icon dan_icon i_dan15">PM2.5</i>
                            <div class="dpro">
                                <span class="dantitle">当日室内空气质量均值</span>
                                <div class="progress-container progress01">
                                    <div class="progress" data-width="30%" style="width: 30%;"></div>
                                </div>
                                <div class="prodata"><span class="max">18</span>优</div>
                            </div>
                            <div class="dpro">
                                <span class="dantitle">当日室外空气质量均值</span>
                                <div class="progress-container progress03">
                                    <div class="progress" data-width="60%" style="width: 60%;"></div>
                                </div>
                                <div class="prodata"><span class="max">56</span>良</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="shouyitongji_block jhxg_danzi2">
                <ul class="clearfix danzi">
                    <li>
                        <div class="danzidata dan1">
                            <i class="icon dan_icon i_dan17"></i>
                            <div class="danzinum"><span>20</span>个</div>
                            <div class="danziname">待打款报销工单</div>
                        </div>
                    </li>
                    <li>
                        <div class="danzidata dan2">
                            <i class="icon dan_icon i_dan18"></i>
                            <div class="danzinum"><span>20</span>个</div>
                            <div class="danziname">待打款报销工单</div>
                        </div>
                    </li>
                    <li>
                        <div class="danzidata dan3">
                            <i class="icon dan_icon i_dan19"></i>
                            <div class="danzinum"><span>20</span>个</div>
                            <div class="danziname">待打款报销工单</div>
                        </div>
                    </li>
                    <li>
                        <div class="danzidata dan4">
                            <i class="icon dan_icon i_dan20"></i>
                            <div class="danzinum"><span>20</span>个</div>
                            <div class="danziname">待打款报销工单</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h1>近7日空气质量走势统计</h1></div>
                <div class="panel-body" id="onemain" style="width: 400px;height: 200px">
                </div>
            </div>
        </div>
        <!-- 内容 结束 -->
    </div>
    </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__/Echarts/echarts.common.min.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChartOne = echarts.init(document.getElementById('onemain'));
        optionOne = {
            title : {
                text: '保养方式占比',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x : 'center',
                y : 'bottom',
                data:['清洗','安装','更换'],
            },
//            toolbox: {
//                show : true,
//                feature : {
//                    mark : {show: true},
//                    dataView : {show: true, readOnly: false},
//                    magicType : {
//                        show: true,
//                        type: ['pie', 'funnel']
//                    },
//                    restore : {show: true},
//                    saveAsImage : {show: true}
//                }
//            },
            series : [
                {
                    name:'保养方式占比',
                    type:'pie',
                    roseType : 'radius',
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    lableLine: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data:[
                        {value:10, name:'清洗'},
                        {value:5, name:'安装'},
                        {value:15, name:'更换'},
                    ],
                    color:[ '#F6B55B','#D97A80','#5BB0F0','#5BB0F0','#1DABAD'],
                },
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChartOne.setOption(optionOne);
    </script>

</block>