<extend name="Public:index"/>

<block name="main">
	<!-- 主体内容 开始 -->
	<div class="main">

		<!-- header 开始 -->
		<div class="header">
			<div class="left"><i class="icon"></i>返回</div>
			<div class="center"></div>
			<div class="right"><a class="s"><i class="icon claim"></i>我的认领</a></div>
		</div>
		<!-- header 结束 -->
		
		<div class="main_body">
			<ul class="index_item">
				<li class="bjkkitem bjkkitem01 b1">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="num">125<span class="min">个</span></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
							</div>
						</div>
					</div>
				</li>
				<li class="bjkkitem bjkkitem01 b2">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
								<button class="btn">立即查看</button>
							</div>
						</div>
					</div>
				</li>
				<li class="bjkkitem bjkkitem01 b3">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
								<button class="btn">立即查看</button>
							</div>
						</div>
					</div>
				</li>
				<li class="bjkkitem bjkkitem01 b4">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
								<button class="btn">立即查看</button>
							</div>
						</div>
					</div>
				</li>
				<li class="bjkkitem bjkkitem01 b5">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
								<button class="btn">立即查看</button>
							</div>
						</div>
					</div>
				</li>
				<li class="bjkkitem bjkkitem01 b6">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
								<button class="btn">立即查看</button>
							</div>
						</div>
					</div>
				</li>
				<li class="bjkkitem bjkkitem01 b7">
					<div class="bjkkitem_main">
						<div class="icon_wrap"><i class="icon"></i></div>
						<div class="title_wrap">
							<div class="title_inner">
								<span class="title">安装待办事项</span>
								<button class="btn">立即查看</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</block>