<extend name="Public:index"/>
<block name="title">
    <title>酒店信息管理</title>
</block>
<block name="css">
    <link rel="stylesheet" href="__CSS__/LArea.min.css">
    <style>
        input[type='text'],select{
            border: 1px solid #eee;
            width: 40vw;
        }
        .form_data .layouttb {

            margin-bottom: 0.01rem;
        }
    </style>
</block>
<block name="main">
    <!-- 主体内容 开始 -->
    <div class="main">

        <!-- header 开始 -->
        <div class="header">
            <div class="left"><a href="{:U('Index/index')}"><i class="icon w_0000_00 w_00_08"></i>返回</a></div>
            <div class="center"></div>
        </div>
        <!-- header 结束 -->
        <div class="main_body">
            <div class="form_data_wrap renlingchakan">
                <form method="post" action="{:U('edit')}">
                    <ul class="form_data">
                        <li class="layoutlr form_item">
                            <div class="left"> <font color="red">*</font>酒店名称</div>
                            <div class="right">
                                <div><input type="text" style="border: 0;text-align: right" name="name" value="{$hotel.name}"><i class="icon w_0000_00 w_00_11"></i></div>

                            </div>
                        </li>
                        <li class="layoutlr form_item">
                            <div class="left"> <font color="red">*</font>酒店类型</div>
                            <div class="right">
                                <div class="" data-relation="hotel_type">
                                    <select  name="ht_id">
                                        <volist name="htype" id="htype">
                                            <option  value = "{$htype.id}" <eq name="htype.id" value="$hotel['ht_id']">selected</eq>>{$htype.name}</option >
                                        </volist>
                                    </select>
                                    <i class="icon w_0000_00 w_00_11"></i>
                                </div>

                            </div>

                        </li>
                        <li class="layoutlr form_item">
                            <div class="left"> 所属地区</div>
                            <div class="right">
                                <div>
                                    <span class="selected"><input type="text" id="larea" readonly="readonly" value="{$hotel.provice}<?php if($hotel['city']!='北京市' && $hotel['city']!='天津市'  && $hotel['city']!='重庆市'){echo $hotel['city'];}?>{$hotel.county}" style="border: none;text-align: right;"></span>
                                    <input id="value" type="hidden" name="pcc_area" value="{$hotel.provice},{$hotel.city},{$hotel.county}"/>
                                    <i class="icon w_0000_00 w_00_12"></i>
                                </div>
                            </div>
                        </li>
                        <li class="layoutlr form_item">
                            <div class="left"> <font color="red">*</font>详细地址</div>
                            <div class="right">
                                <div><input type="text" style="border: 0;text-align: right" name="area" value="{$hotel.area}"><i class="icon w_0000_00 w_00_11"></i></div>
                            </div>
                        </li>
                        <li class="layoutlr form_item">
                            <div class="left"> <font color="red">*</font>联系方式</div>
                            <div class="right">
                                <div>
                                    <input type="text" style="border: 0;text-align: right" name="tell" value="{$hotel.tell}" >
                                    <i class="icon w_0000_00 w_00_11"></i>
                                </div>
                            </div>

                        </li>

                        <li class="layouttb form_item" >
                            <div class="top">酒店图片</div>
                            <div class="bottom">
                                <dl class="uploadimg-container clearfix">
                                    <dd class="imgwrap-container">
                                        <volist name="hotel.imgs" id="himg">
                                        <div class='imgwrap'>
                                            <img class='img-rounded' src="{$himg}">
                                            <ul class="imgoprate">
                                                <li data-oprate="toleft"><i class="icon"></i></li>
                                                <li data-oprate="detele"><i class="icon"></i></li>
                                                <li data-oprate="toright"><i class="icon"></i></li>
                                            </ul>
                                        </div>
                                        </volist>
                                    </dd>
                                    <dt>
                                    <div class="item btn-upload" v-show="uploadImgs.length==0"></div>
                                    </dt>
                                </dl>
                                <input type="hidden" name="img" value="{$hotel.img}" class="img_val">
                            </div>
                        </li>
                        <li class="layoutlr form_item">
                            <div class="left"> 商务负责人</div>
                            <div class="right">
                                <div>
                                    <input type="text" style="border: 0;text-align: right" name="shang_name" value="{$hotel.shang_name}" >
                                    <i class="icon w_0000_00 w_00_11"></i>
                                </div>

                            </div>
                        </li>
                        <li class="layoutlr form_item">
                            <div class="left"> 商务负责人联系方式</div>
                            <div class="right">
                                <div>
                                    <input type="text" style="border: 0;text-align: right" name="shang_tell" value="{$hotel.shang_tell}" >
                                    <i class="icon w_0000_00 w_00_11"></i>
                                </div>
                            </div>
                        </li>
                        <div class="left"> 服务项目</div>
                        <li class="layoutlr form_item">
                            <div class="right">
                                <volist name="service" id="service">
                                   <div style="width: 45% ;float: left;text-align: left"> <input  type="checkbox" value="{$service.id}" name="service[]" <?php if(in_array($service['id'], $ser)){echo 'checked=checked';}else{echo '';}?>/>&nbsp;{$service.name}&nbsp;&nbsp;&nbsp;</div>
                                </volist>
                            </div>
                        </li>
                    </ul>
                    <div class="form_data_btns">
                        <li class="layoutlr">
                            <div class="center">
                                <input type="hidden" name="id" value="{$hotel.id}">
                                <button  class="btn maxbtn ajax-post">提交</button>
                            </div>
                        </li>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 主体内容 结束 -->
</block>
<block name="js">
    <script type="text/javascript" src="__JS__/LAreaData.js"></script>
    <script type="text/javascript" src="__JS__/LArea.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        $("#larea").focus(function(){
            document.activeElement.blur();
        });
        /**
         * 收货地址选择
         */
        var area1 = new LArea();
        area1.init({
            'trigger': '#larea', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
            'valueTo': '#value', //选择完毕后id属性输出到该位置
            'keys': {
                id: 'id',
                name: 'name'
            }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
            'type': 1, //数据源类型
            'data': LAreaData //数据源
        });
        area1.value=[0,0,0];//控制初始位置，注意：该方法并不会影响到input的value


        $(document).ready(function () {
            var ids = "{$hotel.id}";
            if(ids){
                $("#city").citySelect({
                    prov: "{$hotel.provice}",
                    city: "{$hotel.city}",
                    dist: "{$hotel.county}",
                    nodata: "none"
                });
            }else{
                $("#city").citySelect({
                    prov: "北京",
                    city: "东城区",
                    dist: "",
                    nodata: "none"
                });
            }

        });

        /* 微信上传图片所需 start */
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{$appId}', // 必填，公众号的唯一标识
            timestamp: '{$timestamp}', // 必填，生成签名的时间戳
            nonceStr: '{$nonceStr}', // 必填，生成签名的随机串
            signature: '{$signature}',// 必填，签名，见附录1
            jsApiList: ['chooseImage','uploadImage','scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            wx.error(function(res){
                layer.open({
                    content: res.errMsg
                    ,btn: '我知道了'
                });
                return false;
            });

            wx.checkJsApi({
                jsApiList: ['chooseImage','uploadImage','scanQRCode'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function(res) {
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                }
            });
        });
        $(".btn-upload").click(function(){
            //选择图片
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localIds = res.localIds;
                    //上传图片
                    wx.uploadImage({
                        localId: localIds.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
                        isShowProgressTips: 1, // 默认为1，显示进度提示
                        success: function (res) {
                            var serverId = res.serverId; // 返回图片的服务器端ID
                            //上传的图片保存到本地服务器
                            $.post("{:U('saveWXFile')}",{img_dir:'Hotel',media_id:serverId},function(res_data){
                                if(typeof res_data != "object"){
                                    var res_data = eval("("+res_data+")");
                                }
                                $(".imgwrap-container").append("<div class='imgwrap'>\
                              <img class='img-rounded' src='"+res_data.data+"'>\
                              <ul class='imgoprate'>\
                                <li data-oprate='toleft'><i class='icon'></i></li>\
                                <li data-oprate='detele'><i class='icon'></i></li>\
                                <li data-oprate='toright'><i class='icon'></i></li>\
                              </ul>\
                            </div>");
                                count_img();
                            })
                        }
                    });
                }
            });
        });

        function count_img(){
            var img_val = "";
            $(".imgwrap-container div").each(function(i){
                if(i != 0){
                    img_val += ",";
                }
                img_val += $(this).find("img").attr("src");
            })
            $(".img_val").val(img_val);
        }

        /*图片移动、删除*/
        $('.imgwrap-container').on('click', '[data-oprate]', function() {
            var _imgwrap = $(this).closest('.imgwrap');
            switch($(this).attr('data-oprate')) {
                case 'toleft':
                    _imgwrap.prev().before(_imgwrap);
                    //console.log('左边', $(this).attr('data-oprate'))
                    break;
                case 'detele':
                    _imgwrap.remove();
                    break;
                case 'toright':
                    _imgwrap.next().after(_imgwrap);
                    break;
            }
            count_img();
        });

    </script>
</block>