<extend name="Public:index"/>
<block name="head">
  <title>查看结算模式</title>
</block>
<block name="top">
  <ol class="breadcrumb">
    当前的位置：
    <li><a>系统设置</a></li>
    <li class="on">查看结算模式</li>
  </ol>
</block>

<block name="main">
  <div id="main">
    <!-- 导航 开始 -->
    <ul class="clearfix subnav hetongnav">
      <li><a><i class="icon"></i><span class="cur_title">查看结算模式</span></a></li>
    </ul>
    <!-- 导航 结束 -->

    <!-- 内容 开始 -->
    <div class="subpage jiudianxinzeng">
      <form method="post" action="{:U('operation')}">
        <div class="subpage-block">
          <table class="table table-bordered table-form">

            <tr>
              <th>结算模式：</th>
              <td>
                <?php
                if($row['type']==1){
                 echo '共享';
                }elseif($row['type']==1){
                 echo '租赁';
                }else{
                 echo '月租'; 
                }
                ?>
              </td>

            </tr>
            <tr <eq name="row.type" value="3">style="display:none;"</eq>>
              <th>结算价格：</th>
              <td>
                <input type="text" name="price" value="{$row.price}" disabled="disabled">
              </td>
            </tr>
            <tr>
              <th>结算模式说明：</th>
              <td>
                <textarea rows="7" cols="43" name="remark" disabled="disabled" >{$row.remark}</textarea>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <empty name="redonly">
                  <button type="button" class="btn btn-quxiao back">返回</button>
                <else />
                </empty>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <!-- 内容 结束 -->
  </div>
</block>



