<extend name="Public:index"/>
<block name="head">
	<title>告警等级设置</title>
</block>

<block name="top">
    <ol class="breadcrumb">
      当前的位置：
      <li><a>系统设置 </a></li>
      <li class="on">告警等级设置</li>
    </ol>
</block>
<block name="css">
  <style type="text/css">
    .panel .panel-heading {
      margin-bottom: 0px;
    }
  </style>
</block>
<block name="main">
  <div id="main" class="bgfff">
    <div class="panel panel-default table-datawrap">
      <div class="panel-heading">
        <!-- Single button -->
        <form class="clearfix searchbar">
          <div class="col">


          </div>
        </form>
    </div>

      <div class="panel-body">
        <table class="table table-condensed table-data">
          <thead>
            <tr>
              <th>告警等级</th>
              <th>告警PM2.5值</th>
              <th>告警值持续时间(秒)</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          <notempty name="items">
            <volist name="items" id="item">
            <tr>
              <td>{$item.name}</td>
              <td>{$item.start}</td>
              <td>{$item.time}</td>
              <td class="orprate">
                <a class="text-warning"  href="{:U('edit',array('id'=>$item['id']))}">编辑</a>
                </td>
            </tr>
            </volist>
            <else/>
            <tr><td colspan="3">暂无数据</td></tr>
            </notempty>
          </tbody>
        </table>
        <div class="pagination-container">
            <div class="pagination">
                {$pageHtml}
            </div>
        </div>
      </div>
    </div>
</block>
<block name="js">

<script type="text/javascript">
  function now_href(url){
    window.location.href = url;
  }
</script>
</block>