<div class="yx_details">
    <div class="left">月度开启率</div>
    <div class="right">{$monthsbai|default=0}%</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">季度开启率</div>
    <div class="right">{$jidubai|default=0}%</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">年度开启率</div>
    <div class="right">{$nainbai|default=0}%</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">安装日到现在开启率</div>
    <div class="right">{$anbais|default=0}%</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">本结算周期开启率</div>
    <div class="right">{$anbai|default=0}%</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">结算周期开启天次</div>
    <div class="right">{$hahdats|default=0}天</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">净化器类型</div>
    <div class="right">{$e1_name['name']}</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">监控器类型</div>
    <div class="right">{$e2_name['name']}</div>
    <div class="clear"></div>
</div>
<div class="yx_details">
    <div class="left">安装时间</div>
    <div class="right">{$devicesData['ctime']|date="Y-m-d",###}</div>
    <div class="clear"></div>
</div>